<app-title title="blog"></app-title>
<div class="articles-container">
  <div class="articles-main">
    <app-big-card 
      [card]="{
        urlImg: 'https://cdn.pixabay.com/photo/2023/10/14/14/00/peanuts-8314955_1280.jpg', 
        title: 'Esse titulo é pica demais', 
        description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit, est vel consectetur auctor, libero justo tempus lacus, in vestibulum est odio et velit. Nulla congue efficitur ultricies. Praesent vel ex non velit accumsan pharetra.'
      }"
    ></app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
