.small-card-container {
  width: 700px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;

  a{
    color: white;
  }
  
  img {
    width: 100%;
    max-width: 160px;
    height: auto;
  }

  h1 {
    font-size: 20px;
  }
  
}